<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oilgas.mapper.FRAnnualParameterMapper">

    <sql id="tab">
        `fr_annual_parameter`
    </sql>

    <sql id="cols">

    </sql>

    <select id="selectAllByGdh" parameterType="long" resultType="FrAnnualParameter">
        SELECT * FROM <include refid="tab"/> WHERE `gdh`=#{gdh}
    </select>
</mapper>