<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oilgas.mapper.UserMapper">

    <sql id="tab">
        `user`
    </sql>

    <sql id="cols">
        `passWord`
    </sql>

    <select id="selectByName" parameterType="string" resultType="User">
        SELECT * FROM <include refid="tab"/> WHERE `userName`=#{userName}
    </select>

</mapper>